*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}
.result{
    margin-top:20px;
    display:flex;
    justify-content:center;
    color:white;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../static/a.jpg);
	height: 100vh;
	background-size: cover;
    background-position: center;
}

.title{
	position: absolute;
	top: 30%;
	left:50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 70px;

}
.button{
	position: absolute;
	top: 50%;
	left:50%;
	width: 500px;
	transform: translate(-50%,-50%);
	border-bottom: white;
}

input[type=text]{
	color: green;
	width: 100%;	
	border-bottom: 1px solid red;

}
button[type=submit]{
	width: 100%;
}
.btn{

	background-color: transparent;
}